div#prestoMaDose {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: .5rem 0 0;
    font-size: 1.6rem;
    background-color: #0596de;
    color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(67, 95, 113, 0.6);
}

div#prestoMaDose button {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .5rem;
    transition-duration: .3s;
    background-color: #ffffff;
    color: #0596de;
}

div#prestoMaDose button.check {
    color: #155313;
    background-color: #cdeccc;
}

div#prestoMaDose button.check:before {
    content: "✓ ";
}

div#prestoMaDose input {
    margin: 1rem;
    height: 3.5rem;
    padding: 0 16px;
    box-sizing: border-box;
    border: 0;
    border-radius: .5rem;
    background-color: #ffffff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    color: #435f71;
}